<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Emotion Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </nav>
    </header>
    <div class="container">
        <h1>REAL-TIME EMOTION DETECTION</h1>
        <p>Welcome to our project which aims to detect real-time emotions using Convolutional Neural Networks (CNN) and OpenCV. Our goal is to create a system that accurately identifies human emotions through live video feeds.</p>
        <h2>Submitted by: </h2>
        <h2>SYED ASAD ULLAH    -   161020748071</h2>
        <h2>MOHD ADEER UDDIN    -   161020748303</h2>
        <h2>SHAIK SADAIN ALI   -   161020748306</h2>
    </div>
    <div class="about-container">
        <h2>About Us</h2>
        <p>Our team consists of passionate data scientists and engineers dedicated to developing innovative solutions in the field of computer vision and machine learning. With expertise in deep learning, we aim to push the boundaries of what's possible in real-time emotion detection.</p>
        <p>We believe in the power of technology to enhance human interaction and understanding. Our project is a testament to our commitment to leveraging advanced techniques to solve real-world problems.</p>
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p><strong>Cell:</strong> +91-9502815088</p>
            <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/shaik-sadain-ali" target="_blank">linkedin.com/in/ShaikSadainALi</a></p>
            <p><strong>GitHub:</strong> <a href="https://github.com/SyncSadain" target="_blank">github.com/SyncSadain</a></p>
            <p><strong>Gmail:</strong> <a href="mailto:sadainsadain321@gmail.com">sadainsadain321@gmail.com</a></p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 sSa. All rights reserved.</p>
    </footer>
</body>
</html>

